# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\www save\Exo_crud_CD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
